 //Form response for displaying server messages

 .modal {
   //modal outer with background, covers whole screen
   display: grid;
   place-items: center;
   background-color: rgba(0, 0, 0, 0.95);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 100;
   opacity: 0;
   pointer-events: none;
   transition: opacity 300ms ease-out;
 }

 /* The Modal (background) */
 .gallery-modal {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   opacity: 0;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50px 1fr auto;
   pointer-events: none;
   transition: opacity 300ms ease-out;
   background-color: rgba(0, 0, 0, 0.95);
 }

 //Defines the body of the modal, centered on screen with a close icon to dismiss
 /* Modal Content */
 .modal-content {
   position: relative;
   padding: 0;
   width: 90%;
   margin: 0 auto;
   max-width: 1200px;
   height: 100%;
   display: grid;
   place-items: center;
 }

 ///thumbnails
 .thumbnails {
   width: auto;
   margin: 0 auto;
   overflow-x: auto;
   display: flex;

   img {
     height: 150px;
   }
 }

 .thumbnails::-webkit-scrollbar {
   //defines scrollbar width
   width: 2px;

 }

 /* The Close Button */
 .modal-close {
   color: white;
   justify-self: right;
   font-size: 35px;
   font-weight: bold;
   margin-right: 20px;
 }


 /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }

 .modal-button-section {
   //footer with a confirm button
   padding: $spacer-2 1rem $spacer-2 1rem;
   border-top: 1px solid $primary;
   background-color: rgb(240, 240, 240);
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;

   width: 100%;
 }

 //active classes to display modal when triggered
 .modal-active {
   opacity: 1;
   transition: opacity 400ms ease-out;
   pointer-events: all;
 }

 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   margin-block: 15px;
   top: 0;
   left: 0;
 }

 /* Caption text */
 .caption-container {
   text-align: center;
   background-color: black;
   padding: 2px 16px;
   color: white;
 }

 img.slide-thumbnail {
   opacity: 0.6;
 }

 .active,
 .slide-thumbnail:hover {
   opacity: 1;
 }

 img.hover-shadow {
   transition: 0.3s;
 }

 .hover-shadow:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 //custom modal for image uploads in guest gallery
 .upload-modal {
   background-color: rgba(0, 0, 0, 0.7);
    place-items: end;
   .modal-content {
     margin-bottom: env(safe-area-inset-bottom, 10px);
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     width: 100%;
     height: max-content;
     place-items: unset;
     background-color: #fff;
     border-top-right-radius: $border-radius;
     border-top-left-radius: $border-radius;
     input{
      width: 90%;
     }
   }
   .close{
    justify-content: center;
    
   }
   .btn-close{
    color: $primary;
    height: 2.5rem;
    width: 2.5rem;
    svg{
      height: auto;
      width: auto;
    }
   }
 }

 @media(min-width:$md){
  .upload-modal{
    place-items: center;
    
  }
  .upload-modal .modal-content{
    width: max-content;
    border-radius: $border-radius;
  }
 }