.pagination{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    li{
        border: 1px solid $primary-900;
       
    }
    li:first-of-type{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    li:last-of-type{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    a{
        display: block;
        padding: .375rem 0.75rem;
        text-decoration: none;
        transition: background-color 300ms ease-out;
        border-radius: inherit;
        &:hover{
            background-color: $primary-800;
            transition: background-color 300ms ease-out;
        }
    }
}

.links-active{
    background-color: $primary;
    color: $primary-950;
}